{% extends "base.html" %}

{% block content %}
   <div class="container-fluid bg-light py-5">
      <h2 class="text-center mb-5">My Shopping Cart</h2>

      {% if cart.total_items > 0 %}
         <table class="table align-middle">
            <thead>
               <tr>
                  <th class="col-1">Image</th>
                  <th>Book</th>
                  <th class="text-center">Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody>
               {% for item in cart.items.all %}
                  {% include "snippets/cart-item.html" with item=item %}
               {% endfor %}
            </tbody>
         </table>
         <div class="d-flex justify-content-between align-items-center">
            <div>
               <h4 class="mb-0">
                  <strong>Total: {{ cart.total_items }} items (৳{{ cart.total_price }})</strong>
               </h4>
            </div>
            <div>
               <a href="{% url 'book_list' %}" class="btn btn-outline-dark me-2">Continue Shopping</a>
               <a href="{% url 'checkout' %}" class="btn btn-outline-dark">Checkout</a>
            </div>
         </div>
      {% else %}
         <div class="text-center">
            <h4>Your cart is empty</h4>
            <a href="{% url 'book_list' %}" class="btn btn-outline-dark mt-3">Start Shopping</a>
         </div>
      {% endif %}
   </div>
{% endblock content %}
